<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/image-removebg-preview.png') }}">
    <title>Email spam classifier</title>
</head>
<body>
<div class="head">
    <div class="left-side">
        <div class="head">
            <h1 class="heading">Email Spam classifier</h1>
        </div>
        <div class="answer head">
            <h4>Please Enter Your Mail</h4>
        </div>
        <form action="/mail" method="post" class="form">
            <div class="head bottom"><input type="text" name="mail" id="" class="input"></div>
            <div class="head"><button type="submit" class="btn-submit">Submit</button></div>
        </form>
    </div>
    <div class="img"></div>
</div>
</body>
</html>