<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/image-removebg-preview.png') }}">
    <title>Get email scam prediction</title>
</head>
<body>
    <div class="head">
    <div class="left-side">
        <div class="head">
            <h1 class="heading">Email Spam classifier</h1>
        </div>
       <div class="head form">
        <div>
           <h4 class="answer">{{ mailName }} is {{ mailPrediction }}</h4>
           </div>
       </div>
    </div>
    <div class="img2">
        <img src="{{ url_for('static', filename='images/images 4.jpg') }}" alt="" srcset="">
    </div>
    </div>
</body>
</html>